
.Annonces-list{
    background-color: rgb(250, 248, 248);
    margin: 80px 20px 40px 20px;
    border-radius: 20px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.Annonce-link {
    text-decoration: none;
    color: black;
    
}

.Annonce-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    filter: brightness(75%);    
        
}

.Annonce-content{
   transform: translateY(-90px);
   padding-left: 20px;
   color: white;
  }


  /*Media queries*/

@media screen and (max-width: 730px){
   
    
    .Annonces-list{
    background-color: white;
    flex-direction: column;
    align-content: center;
    margin: 80px 20px 40px 20px;
    padding-top: 10px;
    }
    
  }
  @media screen and (max-width: 560px){
    .Home{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .Annonce-img{
        width: 380px;
        height: 280px;
        
            
    }
  }

