.NumberError{
    font-size: 288px;
    text-align: center;
    color: #FF6060;
    margin-bottom: 10px;
    
}
.MessageError{
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
@media screen and (max-width: 450px){
    .NumberError{
        font-size: 200px;
    }
    .MessageError{
    font-size: 30px;
      
    }
    
  }