.Banner {
  border-radius: 25px;
  height: 205px;
}

.Banner-img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
  filter: brightness(80%);
}

.Banner-title {
  transform: translateY(-160px);
  text-align: center;
  font-weight: 450;
  font-size: 70px;
  color: #ffffff;
}

/*Media queries*/

@media screen and (max-width: 1024px) {
  .Banner-img {
    border-radius: 0;
    
    
  }
  
  .Banner-title {
    font-size: 70px;
    transform: translateY(-170px);
    text-align: left;
  }
}

@media screen and (max-width: 768x) {
  .Banner-title {
    text-align: left;
    transform: translateY(-130px);
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  .Banner-title {
    font-size: 50px;
  }
}
