

.Banner {
    border-radius: 25px;
    height: 225px;
    
    margin: 0 20px 25px 20px;
    position: relative;
  }

  .Banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
   
    filter: brightness(80%);
  }

  .Banner-title{
    position: absolute;
    left: 25%;
    top: 40%;
    bottom: 40%;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
  }
  
  