.FooterBox {
 bottom: 0;
 width: 100%;
 position: relative;
 top:100px;
 background-color: black;
  
}
.FooterContent{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.LogoFooter {
  background-color: black;
  height: 39px;
  margin-bottom: 30px;
  margin-top: 60px;
  width: 122px;
}
.TextFooter {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  height: 46px;
  justify-content: center;
  width: 513px;
}

/*Media queries*/
@media screen and (max-width: 768px) {
  .LogoFooter {
    background-color: black;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100px;
  }
  .TextFooter {
    font-size: 15px;
    width: 150px;
  }
}


